p{
    font-family: Courier New, Courier, monospace;
    
}

h1 {
    font-family: Courier New, Courier, monospace;
    color: hotpink;
    font-size: 28pt;
}

h2 {
    font-family: Courier New, Courier, monospace;
    font-size: 18pt;
}

h3 {
    font-family: Courier New, Courier, monospace;
    font-size: 18pt;
    color: lime;
}